{% extends "layout.html" %} {% block title%} Add course {% endblock title %} {% block body %}

<h3 class="fw-bolder text-secondary mt-3 d-flex align-items-center justify-content-center">Add Courses</h3>

<div class="container m-1">
    <div class="text-start my-1">
        <form action="/add" method="post">
            <input autocomplete="off" autofocus name="course_name" placeholder="Course name" type="text" />
            <input
                autocomplete="off"
                name="credit"
                placeholder="credit"
                type="number"
                step="0.1"
                oninput="if(value.length > 3)value = value.slice(0,3); if(value < 0) value = 0; if(value > 8) value = 8" />
            <select name="start_week">
                <option disabled selected>Start week</option>
                {% for i in range(1, 20) %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
            <select name="end_week">
                <option disabled selected>End week</option>
                {% for i in range(1, 20) %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
            <input
                autocomplete="off"
                name="weekday"
                placeholder="Weekday"
                type="number"
                oninput="if(value.length > 4)value = value.slice(0,4); if(value < 0) value = 0" />
            <input
                autocomplete="off"
                name="start_time"
                placeholder="Start time"
                type="number"
                oninput="if(value.length > 2)value = value.slice(0,2); if(value < 1) value = 1; " />
            <input
                autocomplete="off"
                name="len"
                placeholder="Len"
                type="number"
                oninput="if(value.length > 2)value = value.slice(0,2); if(value < 1) value = 1; " />
            <input autocomplete="off" name="location" placeholder="Location" type="text" />
            <input autocomplete="off" name="teacher" placeholder="Teacher" type="text" />
            <div class="text-start my-1"><button type="submit" class="btn btn-primary btn-sm">Add course</button></div>
        </form>
        <form action="/" method="get"><button type="submit" class="btn btn-secondary btn-sm">Back</button></form>
    </div>
</div>

{% endblock body %}
